_solutions/
./day1/3. Assignment/_solutions/
./day2/3. Assignment/_solutions/
./day3/3. Assignment/_solutions/
./day4/3. Assignment/_solutions/
./day5/3. Assignment/_solutions/
./day6/3. Assignment/_solutions/
./day7/3. Assignment/_solutions/
./day8/3. Assignment/_solutions/
